<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Deep Learning</title>
  </head>
  <body>
    <h1> Deep Learning Neural Newtwork Web App</h1>
    <p> 
        Neural Network Regressor: <br>
            Regression : 

        <form action = "/train_regression" method = "POST" >
         <input type="hidden" name="train_regression"> <input id="" value = "train" type='submit' />
        </form>

        <form action = "/pickle_regression" method = "POST" >
            <input type="hidden" name="pickle_regression"> <input id="" value = "pickle " type='submit'/>
        </form>

    </p>
    <p> 
        Neural Network Classifier: <br>
            Classification : 

        <form action = "/train_classification" method = "POST" >
         <input type="hidden" name="train_classification"> <input id="" value = "train" type='submit' />
        </form>

        <form action = "/pickle_classification" method = "POST" >
            <input type="hidden" name="pickle_classification"> <input id="" value = "pickle " type='submit'/>
        </form>

    </p>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
       $(document).ready(function(){

        });
  </script>
</html>